<div class="box">
	<div class="alert alert-success">
		<p><strong>Great!</strong> your Category has been added successfuly</p>
		<br>
		<a href="/categories" class="btn btn-primary">View All</a>
	</div>
</div>