<div class="box">
	<div class="box-index">
		<h3>Welcome to My To-Do-List</h3>
		<a href="/categories" class="btn btn-info">Categories</a>
		<a href="/categories/new-cat" class="btn btn-success">Add New Cat</a>
	</div>
</div>