<!DOCTYPE html>
<html>
	<head>
		<title>To Do List</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	</head>
	<body>
		<div class="container">

			<ul class="my-nav">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/categories/new-cat">New Category</a>
				</li>
				<li>
					<a href="/categories">Categories</a>
				</li>
				<li>
					<a href="/tasks">All Tasks</a>
				</li>
			</ul>

			#parse($view)
			
		</div>
	</body>
</html>